---
BasedOnStyle: Google

DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Left

IncludeBlocks: Merge
IncludeCategories:
  - Regex: '^<[A-Za-z0-9_]*\.h>$'
    Priority: 10000
  - Regex: '^<sys/[A-Za-z0-9_]*\.h>$'
    Priority: 10000
  - Regex: '^\"'
    Priority: 1500
  - Regex: "^<.*/.*"
    Priority: 4000
  - Regex: "^<.*.hpp>"
    Priority: 4000
  - Regex: "^<[^/]*>"
    Priority: 5000

RawStringFormats:
  - Language: TextProto
    Delimiters:
      - "pb"
      - "proto"
    BasedOnStyle: Google

CommentPragmas: "(@copydoc|@copybrief|@see|@overload|@snippet)"
ColumnLimit: 80
