CompileFlags:
  CompilationDatabase: build

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Includes:
    IgnoreHeader:
      - "external/metal-cpp/.*"
      - "external/metal-cpp-extensions/.*"
      - "simd/.*"
