[submodule "external/metal-cpp"]
	path = external/metal-cpp
	url = https://github.com/apple/metal-cpp
[submodule "external/simdjson"]
	path = external/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "external/fastgltf"]
	path = external/fastgltf
	url = https://github.com/spnda/fastgltf
